<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <title>Campus Recruitment</title>

        <!-- Favicon linking code-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">

        <!----------------------COORDINATOR CSS LINKING ONLY DASHBOARD DESIGN MAIN------------------->
        <link rel="stylesheet" type ="text/css" href="/css/coordinator_sidedash.css">
        
        <!----------------------CSS LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/coordinator_managestudent.css">


        <!-- ICONS link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->


    </head>
    <body>
        <!-- coordinator side navbar starting-->
        {{> co_navbar}}

        <!-- coordinator side navbar ending-->
        <!--setup navigation bar starting-->
        <section class="dashboard">
            <div class="top">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="setupbar">
                <div class="thingsbar">
                    <div class="set-link">
                        <i class="fa-brands fa-windows"></i>
                        <a class="navtext" href=""><span>Back to Home</span></a>
                    </div>
                    <div class="set-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <a class="navtext"href="/auth/coordinator_logout"><span>Logout</span></a>
                    </div>
                    <div class="user-img">
                        <span class="userimg-design">
                            <i class="fa-solid fa-user"></i>
                        </span>   
                        
                    </div>
                </div>
            </div>

            <!--setup navigation bar end-->
            <!-- title heading start-->
            <div class="manage">
                <div class="title">
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="text">Manage Student</span>
                </div>
            </div>  

            <!-- title heading end-->
            <div class="form-top">
                <div class="form-mid">
                    <form id="firstform" method="POST" action="/auth/coordinator_managestudent">
                        <div class="select-field">
                            <label class="select-text">Select Department: *</label>
                            <select id="default"name="department">
                                <option value="0" selected disabled hidden><label>Choose your dep</label></option>
                                <option name="CSE"value="1">CSE</option>
                                <option name="ECE"value="3">ECE</option>
                                <option name="IT" value="2">IT</option>
                                <option name="BIO"value="4">BIO</option>
                                <option name="MECH"value="5">MECH</option>
                                <option name="CIVIL"value="6">CIVIL</option>
                            </select>
                        </div>
                        <div class="button-field">
                            <input type="submit" value="View">
                        </div> 
                    </form>

                    

                    <form id="import_form" method="POST" action="">

                        <div class="file-field">
                            <input id="file-field" type="file" name="file">
                        </div>
                        <div class="button-field">
                            <button type="submit">IMPORT</button>
                        </div>
                    </form>
                    <div class="download">
                        <a onclick="return confirm('Confirm Import List?')" href="/auth/coordinator_managestudent/import/{{department}}" class="down">Import List</a>
                    </div>

                    <div class="download">
                        <a onclick="return confirm('Confirm Download List?')" href="/auth/coordinator_managestudent/download/{{department}}" class="down">Download List</a>
                    </div>
                </div>
            </div>

            <!-- table student list-->

            <div class="table-container">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>REGNO</th>
                                <th>EMAIL</th>
                                <th>PHONE_NUMBER</th>
                                <th>GENDER</th>
                                <th>DATEOFBIRTH</th>
                                <th>DEPARTMENT</th>
                                <th>FATHER_NAME</th>
                                <th>MOTHER_NAME</th>
                                <th>PARENT_PHONENUMBER</th>
                                <th>10TH</th>
                                <th>12TH</th>
                                <th>CURRENTCGPA</th>
                                <th>NO_OF_STANDINGARREARS</th>
                                <th>HISTORY_OF_ARREARS</th>
                                <th>ADDRESS</th>
                                <th>STATUS</th>
                                <th>EDIT</th>    
                            </tr>        
                        </thead>
                        <tbody>
                            {{#each list}}
                            <tr>
                                <td>{{this.NAME}}</td>
                                <td>{{this.REGNO}}</td>
                                <td>{{this.EMAIL}}</td>
                                <td>{{this.PHONE_NUMBER}}</td>
                                <td>{{this.GENDER}}</td>
                                <td>{{changeDateFormat this.DATEOFBIRTH}}</td>
                                <td>{{compare this.DEPARTMENT}}</td>
                                <td>{{this.FATHER_NAME}}</td>
                                <td>{{this.MOTHER_NAME}}</td>
                                <td>{{this.PARENT_PHONENUMBER}}</td>
                                <td>{{this.MARKS_10TH}}</td>
                                <td>{{this.MARKS_12TH}}</td>
                                <td>{{this.CURRENTCGPA}}</td>
                                <td>{{this.NO_OF_STANDINGARREARS}}</td>
                                <td>{{this.HISTORY_OF_ARREARS}}</td>
                                <td>{{this.ADDRESS}}</td>
                                <td>{{checkPlacedStatus this.STATUS}}</td>
                                <td><a class="edit" href="/auth/edit_student/{{this.ID}}"><i class="fa-regular fa-pen-to-square"></i></a></td>
                            </tr>
                            {{/each}}
                                
                        </tbody>       
                    </table>

                </div>
            </div>
            <!-- table student view list end-->
            





        
        </section>


    </body>
    <script>
        document.getElementById("default").value = "{{department}}";
    </script>
    <script src="/darkmode.js"></script>
</html>