<!DOCTYPE html> 
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Campus Recruitment</title>
      
      <!-- Favicon linking code-->
      <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">
      <!----------------------CSS SIDE DASH LINKING CODE------------------->
      <link rel="stylesheet" type="text/css" href="/css/student_sidedash.css">
      <!----------------------CSS LINKING CODE------------------->

      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
       
      <!-- ICONS link-->
      <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->
        
    </head>
    <body>

        <!--====================Nav bar starting======================-->

        {{> student_navbar}}

        <!--===========Nav bar ending ===========-->
     
        <section class="dashboard">
           
            <div clas="top">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!--above nav bar strting-->
            <div class="setupbar">  
        
                    <div class="pic">
                        <i class="fa-regular fa-user"></i>
                    </div>  
                    <div class="user-img">
                    
                        <div class="user-icon">
                            
                            <span class="regtext">Regno :{{user.REGNO}}</span>
                            <span class="deptext">Department :{{compare user.DEPARTMENT}}</span>
                        </div>                   
                   </div>
            </div>
                 <!--above nav bar ending-->
            <div class="dash-content">
                <div class="overview">
                    <div class="title">
                        
                        <i class="fa-solid fa-gauge-high"></i>
                        <span class="text">Dashboard</span>
                    </div>

                    <div class="boxes">
                        <div class="box box1">

                            <i class="fa-regular fa-building"></i>
                            <span class="text">
                                <p class="t1">Total Number of </p>
                                <p >Companies</p></span>
                            <span class="number">{{drives.length}}</span>

                        </div>
                        <div class="box box2">
                            <i class="fa-regular fa-circle-check"></i>
                            <span class="text">
                                <p class="t2">Total Number of </p>
                                <p>Placed Students</p></span>
                            <span class="number">{{placed.length}}</span>
                        </div>
                        <div class="box box3">
                            <i class="fa-solid fa-users"></i>
                            <span class="text">
                                <p class="t3">Total Number of </p>
                                <p>Students</p></span>
                            <span class="number">{{students.length}}</span>
                        </div>
              

                    </div>




                

                </div>

                 <!--Below table-->
                <div class="activity">
                    <div class="title">
                        <i class="fa-regular fa-clock"></i>
                        <span class="text">Recent Placed Students</span>
                        <span class="viewtext"><a href="/student_viewplacedstudents">View Placed Student</a></span>
                    </div>
                    

                {{!-- <!-- table student list-->
                <div class="table-container">
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>REGNO</th>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>COMPANY</th>
                                    <th>SALARY</th>
                                    <th>DEPARTMENT</th>  
                                </tr>        
                            </thead>
                            <tody>  
                                {{#each list}}             
                                <tr>
                                    <td>{{this.REGNO}}</td>
                                    <td>{{this.NAME}}</td>
                                    <td>{{this.EMAIL}}</td>
                                    <td>{{this.COMPANY_NAME}}</td>
                                    <td>{{this.SALARY}}</td>
                                    <td>{{compare this.DEPARTMENT}}</td>
                                    <td><a onclick="return confirm('Are You Sure?')" class="delete" href="/auth/delete/coordinator_viewplacedstudents/{{this.PLACED_ID}}/{{this.REGNO}}"><i class="fa-regular fa-trash-can"></i></a></td>
                                </tr>
                                {{/each}}          
                            </tody>       
                        </table>

                    </div>
                </div> --}}





                
                    <div class="activity-data">
                        <div class="data names">
                            <span class="data-title">NAME</span>
                            <span class="data-list">NithishKumar</span>
                            <span class="data-list">Dineshbabu</span>
                            <span class="data-list">Anandakrishnan</span>
                            <span class="data-list">Barichith</span>
                            <span class="data-list">Gurusheth</span>
                            <span class="data-list">AhmedIbrahim</span>
                            <span class="data-list">Gokul</span>
                            
                            
                        </div>  
                        <div class="data email">
                            <span class="data-title">EMAIL</span>
                            <span class="data-list">nithishkumar98@gmail.com</span>
                            <span class="data-list">dineshbabu14@gmail.com</span>
                            <span class="data-list">anandkrishnan08@gmail.com</span>
                            <span class="data-list">barichith0909@gmail.com</span>
                            <span class="data-list">gurusheth702@gmail.com</span>
                            <span class="data-list">ahmedibrahim0808@gmail.com</span>
                            <span class="data-list">npgokul2001@gmail.com</span>
                            
                        </div>
                        <div class="data company">
                            <span class="data-title">COMPANY</span>
                            <span class="data-list">CTS</span>
                            <span class="data-list">ASPIRE</span>
                            <span class="data-list">CTS</span>
                            <span class="data-list">CONCENTRIX</span>
                            <span class="data-list">TCS</span>
                            <span class="data-list">ZOHO</span>
                            <span class="data-list">ZOHO</span>
                        </div>
                        <div class="data package">
                            <span class="data-title">PACKAGE</span>
                            <span class="data-list">4.0LPA</span>
                            <span class="data-list">3.5LPA</span>
                            <span class="data-list">4.0LPA</span>
                            <span class="data-list">5.0LPA</span>
                            <span class="data-list">3.2LPA</span>
                            <span class="data-list">8.5LPA</span>
                            <span class="data-list">8.5LPA</span>
                        </div>
                        <div class="data dep">
                            <span class="data-title">DEPARTMENT</span>
                            <span class="data-list">CSE</span>
                            <span class="data-list">ECE</span>
                            <span class="data-list">CSE</span>
                            <span class="data-list">CSE</span>
                            <span class="data-list">BIO</span>
                            <span class="data-list">CSE</span>
                            <span class="data-list">IT</span>
                           
                        </div>
                    </div>

                </div>

            </div>

             
        </section>




        <!-- Dark mode script file linking-->
        <script src="/darkmode.js"></script>
    </body>

</html>