<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Campus Recruitment</title>

         <!-- Favicon linking code-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">
         <!----------------------CSS SIDE DASHBOARD LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/admin_sidedash.css">
         <!----------------------CSS LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/eligibility_criteria.css"> 

        <!-- ICONS link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->


    </head>
    <body>
         <!--====================Side Nav bar starting======================-->
            {{> co_navbar}}
         <!--===========Nav bar ending ===========-->
        <!--setup navigation bar-->
           <section class="dashboard">
                <div class="top">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="setupbar">
                    <div class="thingsbar">
                        <div class="set-link">
                             <i class="fa-brands fa-windows"></i>
                             <a class="navtext" href=""><span>Back to Home</span></a>
                        </div>
                        <div class="set-link">
                             <i class="fas fa-sign-out-alt"></i>
                             <a class="navtext"href="/auth/coordinator_logout"><span>Logout</span></a>
                        </div>
                        <div class="user-img">
                            <span class="userimg-design">
                                <i class="fa-solid fa-user"></i>
                            </span>   
                        
                        </div>
                    </div>
                </div>
                <!-- heading-->
                <div class="manage">
                    <div class="title">
                        <i class="fa-solid fa-filter"></i>
                        <span class="text">Eligibility Criteria</span>
                    </div>
                </div> 
                <!-- heading-->
                <!-- display drive details start-->
                <div class="drive">
                    <table>
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>COMPANYNAME</th>
                                <th>DRIVE DATE</th>
                                <th>ELIGIBLE DEPARTMENTS</th>
                                <th>MARKS_10TH</th>
                                <th>MARKS_12TH</th>
                                <th>CGPA</th>
                                <th>HISTORY OF BACKLOGS</th>
                                <th>NO OF STANDING BACKLOGS</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#if driveselect}}    
                            <tr>
                                <td>{{driveselect.[0].SNO}}</td>
                                <td>{{driveselect.[0].COMPANY_NAME}}</td>
                                <td>{{driveselect.[0].DRIVE_DATE}}</td>
                                <td>{{printDepartment driveselect.[0].DEPARTMENT}}</td>
                                <td>{{printMark driveselect.[0].MARKS_10TH}}</td>
                                <td>{{printMark driveselect.[0].MARKS_12TH}}</td>
                                <td>{{printMark driveselect.[0].CURRENTCGPA}}</td>
                                <td>{{printArrear driveselect.[0].HISTORY_OF_ARREARS}}</td>
                                <td>{{printArrear driveselect.[0].NO_OF_STANDINGARREARS}}</td>
                            </tr>
                        {{/if}}    
                        </tbody>
                    </table>
                </div>
                <!-- display drive details end -->
                    <!-- this is for error msg please select dep-->
                     {{!-- {{#if msg}}
                     <p class="{{msg_type}}">{{msg}}</p>
                     {{/if}} --}}
                    <!-- this is for error msg please select dep-->
        
                {{!-- <div class="form-top">
                    <div class="form-mid">
                        <form id="myform" method="POST" action="/auth/eligibility_criteria/{{id}}"  >

                           <!--  Batch option now disabled
                            <div class="input-field">
                                <label class="select-text">Select Batch: *</label>
                                <select name="batch">
                                    <option><label>Choose your dep</label></option>
                                    <option name=""value="1">2019-2023</option>
                                    <option name=""value="3">2020-2024</option>
                                    <option name="" value="2">2021-2025</option>
                                    <option name=""value="4">2022-2026</option>
                                    <option name=""value="5">2023-2027</option>
                                    <option name=""value="6">2024-2028</option>
                                </select>
                            </div>     Batch option now disabled    -->

                            <div class="input-field">
                                <label class="select-text">Select Department: *</label>
                                <select id="default"name="department">
                                    <option value="0" selected disabled hidden><label>Choose your dep</label></option>
                                    <option name="CSE"value="1">CSE</option>
                                    <option name="ECE"value="3">ECE</option>
                                    <option name="IT" value="2">IT</option>
                                    <option name="BIO"value="4">BIO</option>
                                    <option name="MECH"value="5">MECH</option>
                                    <option name="CIVIL"value="6">CIVIL</option>
                                </select>
                            </div>
                            <div class="input-field">
                                 <label class="ten-text">10th :*</label>
                                 <input type="text"name="ten" value="{{details.ten_mark}}">
                            </div>
                            <div class="input-field">
                                 <label class="twel-text">12th :*</label>
                                 <input type="text" name="twel" value="{{details.twel_mark}}">
                            </div>
                             <div class="input-field">
                                  <label class="cgpa-text">CGPA:*</label>
                                  <input type="text" name="cgpa" value="{{details.cgpa}}">  
                            </div>
                            <div class="history-field">
                                  <label class="his-text">History of Backlogs :*</label>
                                  <input type="text" name="history" value="{{details.history_of_backlogs}}">  
                            </div>
                            <div class="history-field">
                                 <label class="sta-text">No of Standing Backlogs :*</label>
                                 <input type="text" name="standing" value="{{details.no_of_standing_backlogs}}">
                            </div>

                            <div class="button-field">
                                <input type="submit" value="Shortlist">
                            </div>    

                        </form>
                    </div>

                </div> --}}

                <div class="note">
                    <span class="notetext">NOTE : 10th,12th,CGPA marks will be check &ge; and Backlogs checks with &le;</span>
                </div>

                <div class="table-container">
                    <div class="table">
                        <table>
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>REGNO</th>
                                        <th>EMAIL</th>
                                        <th>PHONE_NUMBER</th>
                                        <th>GENDER</th>
                                        <th>DATEOFBIRTH</th>
                                        <th>DEPARTMENT</th>
                                        <th>FATHER_NAME</th>
                                        <th>MOTHER_NAME</th>
                                        <th>PARENT_PHONENUMBER</th>
                                        <th>10TH</th>
                                        <th>12TH</th>
                                        <th>CURRENTCGPA</th>
                                        <th>NO_OF_STANDINGARREARS</th>
                                        <th>HISTORY_OF_ARREARS</th>
                                        <th>ADDRESS</th>       
                                    </tr>        
                            </thead>
                            <tody>
                                {{#each list}}
                                <tr>
                                    <td>{{this.NAME}}</td>
                                    <td>{{this.REGNO}}</td>
                                    <td>{{this.EMAIL}}</td>
                                    <td>{{this.PHONE_NUMBER}}</td>
                                    <td>{{this.GENDER}}</td>
                                    <td>{{changeDateFormat this.DATEOFBIRTH}}</td>
                                    <td>{{compare this.DEPARTMENT}}</td>
                                    <td>{{this.FATHER_NAME}}</td>
                                    <td>{{this.MOTHER_NAME}}</td>
                                    <td>{{this.PARENT_PHONENUMBER}}</td>
                                    <td>{{this.MARKS_10TH}}</td>
                                    <td>{{this.MARKS_12TH}}</td>
                                    <td>{{this.CURRENTCGPA}}</td>
                                    <td>{{this.NO_OF_STANDINGARREARS}}</td>
                                    <td>{{this.HISTORY_OF_ARREARS}}</td>
                                    <td>{{this.ADDRESS}}</td>
                                </tr>
                                {{/each}}
                                
                            </tody>       
                        </table>

                    </div>
                </div>
                <!-- this for details section like count section-->
                <div class="update">
                    {{#if done}}
                    <span class="done">{{done}}</span>
                    {{/if}}
                    <h3>Details :</h3>
                    <table>
                        <tr>
                            <td>Department:</td>
                            <td>{{compare coordinatorDepartment}}</td>
                        </tr>  
                        <tr>
                            <td>Total Number of Students:</td>
                            <td>{{dep_list.length}}</td>
                        </tr>
                        {{#if list}}
                        <tr>
                            <td>Number of Shortlisted Students:</td>
                            <td class="short">{{list.length}}</td>
                        </tr>
                        {{else}}
                         <tr>
                            <td>Number of Shortlisted Students:</td>
                            <td>{{list.length}}</td>
                        </tr>
                        {{/if}}
                         
                    </table>

                </div>
                <div class="download">
                    <a onclick="return confirm('Confirm Download List?')"class="down" href="/auth/eligibility_criteria/download/{{driveselect.[0].SNO}}/{{coordinator.DEPARTMENT}}">Download List</a>
                </div>
                <div class="term">
                    
                    <input type="checkbox" name="check" class="checkbx" id="checkme" value="">
                    <span>I accept the eligibility criteria and Shortlist list</span>
                    <a onclick="return confirm('Are You Sure?')" classs="disabled-link" class="but" href="/auth/eligibility_criteria/sendMsg/{{driveselect.[0].SNO}}/{{coordinator.DEPARTMENT}}" id="sendsms">Send Message</a>
                    {{!-- <button class="but" type="submit" form="myform" formaction="/auth/shortlist_drive/{{id}}">Send Message</button> --}}
                </div>
                
            </section>
            <script>
                //document.getElementById("default").value = "{{details.department}}";

                var sendsms = document.getElementById("sendsms");
                sendsms.setAttribute("class", "disabled-link");
                
                var checker = document.getElementById("checkme");
                var sendbtn = document.getElementById("sendsms");

                checker.onchange = function() {
                    if(this.checked){
                       sendsms.setAttribute("class", "but");
                    } else {
                       sendsms.setAttribute("class", "disabled-link");
                    }
                };

            </script>
            <script src="/darkmode.js"></script>
    </body>




</html>