<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Campus Recruitment</title>

        <!-- Favicon linking code-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">

        <!----------------------CSS SIDE DASH LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/student_sidedash.css">
         <!----------------------STUDENT UPCOMING CSS LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/student_upcomingdrive.css">
          <!-----------------------CSS IMAGE SLIDE LINKING CODE---------------------->
        <link rel="stylesheet" type="text/css" href="/css/imageslide.css">

        <!-- ICONS link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->
    </head>
    <body>
        <!--====================Nav bar starting======================-->

        {{> student_navbar}}

        <!--===========Nav bar ending ===========-->
        <section class="dashboard">
           
            <div clas="top">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!--above nav bar strting-->
            <div class="setupbar">  
        
                    <div class="pic">
                        <i class="fa-regular fa-user"></i>
                    </div>  
                    <div class="user-img">
                    
                        <div class="user-icon">
                            
                            <span class="regtext">Regno :{{user.REGNO}}</span>
                            <span class="deptext">Department :{{compare user.DEPARTMENT}}</span>
                            
                        </div>                   
                   </div>
            </div>
            <div class="manage">
                    <div class="title">
                        <i class="fa-regular fa-folder-open"></i>
                        <span class="text">Upcoming Drives</span>
                    </div>
                    
                    <!-- image sliding start-->    
                    {{> imgslide}}
                     <!-- image sliding end-->    

            </div>
            <div class="table-container">
                        <table class="tab">
                            <thead>
                                <tr>
                                    <th>S.NO</th>
                                    <th>COMPANYNAME</th>
                                    <th>DRIVE DATE</th>
                                    <th>ELIGIBLE DEPARTMENTS</th>
                                    <th>MARKS_10TH</th>
                                    <th>MARKS_12TH</th>
                                    <th>CGPA</th>
                                    <th>HISTORY OF BACKLOGS</th>
                                    <th>NO OF STANDING BACKLOGS</th>
                                    <th>SALARY</th>
                                    <th>DETAILS</th>
                                    <th>VENUE</th>
                                    <th>YOUR ELIGIBILITY STATUS</th>
                                </tr>
                            </thead>

                            <tbody>
                          
                             {{#each result}}   
                            
                                <tr>
                                    <td data-label="S.NO">{{this.SNO}}</td>
                                    <td data-label="COMPANYNAME">{{this.COMPANY_NAME}}</td>
                                    <td data-label="DRIVEDATE">{{this.DRIVE_DATE}}</td>
                                    <td data-label="ELIGIBLE DEPARTMENTS">{{printDepartment this.DEPARTMENT}}</td>
                                    <td data-label="MARKS_10TH">{{printMark this.MARKS_10TH}}</td>
                                    <td data-label="MARKS_12TH">{{printMark this.MARKS_12TH}}</td>
                                    <td data-label="CGPA">{{printMark this.CURRENTCGPA}}</td>
                                    <td data-label="HISTORY OF BACKLOGS">{{printArrear this.HISTORY_OF_ARREARS}}</td>
                                    <td data-label="NO OF STANDING BACKLOGS">{{printArrear this.NO_OF_STANDINGARREARS}}</td>
                                    <td data-label="SALARY">{{this.SALARY}}</td>
                                    <td data-label="ABOUT">{{this.ABOUT}}</td>
                                    <td data-label="VENUE">{{this.VENUE}}</td>
                                    <!-- checking  eligible status -->
                                    {{#if (checkEligibleStatus this.SNO this.DEPARTMENT this.MARKS_10TH this.MARKS_12TH this.CURRENTCGPA this.HISTORY_OF_ARREARS this.NO_OF_STANDINGARREARS ../user.DEPARTMENT ../user.MARKS_10TH ../user.MARKS_12TH ../user.CURRENTCGPA ../user.HISTORY_OF_ARREARS ../user.NO_OF_STANDINGARREARS)}}
                                    <td data-label="YOUR ELIGIBILITY STATUS"><span id="eligible">ELIGIBLE</span></td>
                                    {{else}}
                                    <td data-label="YOUR ELIGIBILITY STATUS"><span id="noteligible">NOT ELIGIBLE</span></td>
                                    {{/if}}
                                </tr>
                            
                             {{/each}}
                             
                            </tbody>   

                        </table>
             </div>
             <!--on going drives title  -->

            <div class="manage2">
                <div class="title2">
                    <i class="fa-solid fa-play"></i>
                    <span class="text2">Ongoing Drives</span>
                </div>
            </div>
             <!--on going drives title  --> 
       <!-- on going drive table-->
                 <div class="table-container">
                        <table class="tab">
                            <thead id="ongoing">
                                <tr>
                                    <th>S.NO</th>
                                    <th>COMPANYNAME</th>
                                    <th>DRIVE DATE</th>
                                    <th>ELIGIBLE DEPARTMENTS</th>
                                    <th>MARKS_10TH</th>
                                    <th>MARKS_12TH</th>
                                    <th>CGPA</th>
                                    <th>HISTORY OF BACKLOGS</th>
                                    <th>NO OF STANDING BACKLOGS</th>
                                    <th>SALARY</th>
                                    <th>DETAILS</th>
                                    <th>VENUE</th>
                                    <th>YOUR ELIGIBILITY STATUS</th>
                                </tr>
                            </thead>

                            <tbody>
                             {{#each onresult}}   
                                <tr>
                                    <td data-label="S.NO">{{this.SNO}}</td>
                                    <td data-label="COMPANYNAME">{{this.COMPANY_NAME}}</td>
                                    <td data-label="DRIVEDATE">{{this.DRIVE_DATE}}</td>
                                    <td data-label="ELIGIBLE DEPARTMENTS">{{printDepartment this.DEPARTMENT}}</td>
                                    <td data-label="MARKS_10TH">{{printMark this.MARKS_10TH}}</td>
                                    <td data-label="MARKS_12TH">{{printMark this.MARKS_12TH}}</td>
                                    <td data-label="CGPA">{{printMark this.CURRENTCGPA}}</td>
                                    <td data-label="HISTORY OF BACKLOGS">{{printArrear this.HISTORY_OF_ARREARS}}</td>
                                    <td data-label="NO OF STANDING BACKLOGS">{{printArrear this.NO_OF_STANDINGARREARS}}</td>
                                    <td data-label="SALARY">{{this.SALARY}}</td>
                                    <td data-label="ABOUT">{{this.ABOUT}}</td>
                                    <td data-label="VENUE">{{this.VENUE}}</td>
                                    <td data-label="YOUR ELIGIBILITY STATUS"><span id="id{{this.SNO}}">NOT ELIGIBLE</span></td>
                                </tr>
                             {{/each}}
                            </tbody>    

                        </table>
                 </div> 

                <!-- on going drive table-->      
                <!-- past drives title  -->

                <div class="manage2">
                    <div class="title2">
                          <i class="fa-solid fa-backward"></i>
                          <span class="text2">Past Drives</span>
                    </div>
                </div>
                
                <!--past drives title  -->  
                 <!-- past drive table-->
                 <div class="table-container">
                        <table class="tab">
                            <thead id="past">
                                <tr>
                                    <th>S.NO</th>
                                    <th>COMPANYNAME</th>
                                    <th>DRIVE DATE</th>
                                    <th>ELIGIBLE DEPARTMENTS</th>
                                    <th>MARKS_10TH</th>
                                    <th>MARKS_12TH</th>
                                    <th>CGPA</th>
                                    <th>HISTORY OF BACKLOGS</th>
                                    <th>NO OF STANDING BACKLOGS</th>
                                    <th>SALARY</th>
                                    <th>DETAILS</th>
                                    <th>VENUE</th>
                                    <th>YOUR ELIGIBILITY STATUS</th>
                                </tr>
                            </thead>

                           <tbody>
                             {{#each pastresult}}   
                                <tr>
                                    <td data-label="S.NO">{{this.SNO}}</td>
                                    <td data-label="COMPANYNAME">{{this.COMPANY_NAME}}</td>
                                    <td data-label="DRIVEDATE">{{this.DRIVE_DATE}}</td>
                                    <td data-label="ELIGIBLE DEPARTMENTS">{{printDepartment this.DEPARTMENT}}</td>
                                    <td data-label="MARKS_10TH">{{printMark this.MARKS_10TH}}</td>
                                    <td data-label="MARKS_12TH">{{printMark this.MARKS_12TH}}</td>
                                    <td data-label="CGPA">{{printMark this.CURRENTCGPA}}</td>
                                    <td data-label="HISTORY OF BACKLOGS">{{printArrear this.HISTORY_OF_ARREARS}}</td>
                                    <td data-label="NO OF STANDING BACKLOGS">{{printArrear this.NO_OF_STANDINGARREARS}}</td>
                                    <td data-label="SALARY">{{this.SALARY}}</td>
                                    <td data-label="ABOUT">{{this.ABOUT}}</td>
                                    <td data-label="VENUE">{{this.VENUE}}</td>
                                    <td data-label="YOUR ELIGIBILITY STATUS"><span id="id{{this.SNO}}">NOT ELIGIBLE</span></td>
                                </tr>
                             {{/each}}
                            </tbody>    

                        </table>
                 </div> 


                <!-- past drive table-->



                 <!--above nav bar ending-->
        </section>
        <script>
            
        </script>

        <script src="/darkmode.js"></script>
        <script src="/image_slide.js"></script>
    </body>

</html>