<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Campus Recruitment</title>

        <!-- Favicon linking code-->
        <link rel="icon" type="image/x-icon" href="/css/logo/favicon.ico">

        <!----------------------CSS SIDE DASH LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/student_sidedash.css">
        <!----------------------STUDENT VIEW PLACED CSS LINKING CODE------------------->
        <link rel="stylesheet" type="text/css" href="/css/student_viewplaced.css">


        <!-- ICONS link-->
        <script src="https://kit.fontawesome.com/ccbd25d9fc.js" crossorigin="anonymous"></script>  <!--font link-->
    </head>
    <body>
        <!--====================Nav bar starting======================-->

        {{> student_navbar}}

        <!--===========Nav bar ending ===========-->
        <section class="dashboard">
           
            <div clas="top">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!--above nav bar strting-->
            <div class="setupbar">  
        
                <div class="pic">
                    <i class="fa-regular fa-user"></i>
                </div>  
                <div class="user-img">
                    
                    <div class="user-icon">
                            
                        <span class="regtext">Regno :{{user.REGNO}}</span>
                        <span class="deptext">Department :{{compare user.DEPARTMENT}}</span>
                            
                    </div>                   
                </div>
            </div>
            <!-- above navbar ending-->

            <!-- title heading start-->
            <div class="manage">
                <div class="title">
                    <i class="fa-solid fa-address-book"></i>
                    <span class="text">View Placed Students</span>
                </div>
            </div>  

            <!-- title heading end-->

            <div class="form-top">
                <div class="form-mid">
                    <form method="POST" action="/auth/student_viewplacedstudents">

                        <div class="select-field">
                            <span class="s-text">Select Company</span>
                            <select name="company" id="company-field">
                                <option value="0">All Company</option>
                                {{#each companynames}}
                                <option value="{{this.SNO}}">{{this.COMPANY_NAME}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="select-field">
                            <span class="s-text">Select Department</span>
                            <select name="dep" id="default">
                                <option value="0">All Departments</option>
                                <option name="CSE"value="1">CSE</option>
                                <option name="ECE"value="3">ECE</option>
                                <option name="IT" value="2">IT</option>
                                <option name="BIO"value="4">BIO</option>
                                <option name="MECH"value="5">MECH</option>
                                <option name="CIVIL"value="6">CIVIL</option>
                            </select>
                        </div>

                        <div class="button-field">
                            <input type="submit" value="View">
                        </div> 

                    </form>

                </div>
                
            </div>
            <!-- table student list-->
            <div class="table-container">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>REGNO</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>COMPANY</th>
                                <th>SALARY</th>
                                <th>DEPARTMENT</th>   
                            </tr>        
                        </thead>
                        <tody>  
                            {{#each list}}             
                            <tr>
                                <td>{{this.REGNO}}</td>
                                <td>{{this.NAME}}</td>
                                <td>{{this.EMAIL}}</td>
                                <td>{{this.COMPANY_NAME}}</td>
                                <td>{{this.SALARY}}</td>
                                <td>{{compare this.DEPARTMENT}}</td>
                            </tr>
                            {{/each}}          
                        </tody>       
                    </table>

                </div>
            </div>


        </section>



    </body>
    <script src="/darkmode.js"></script>
    <script>
        document.getElementById("default").value = "{{department}}";
        document.getElementById("company-field").value = "{{company}}";
    </script>

</html>